@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --font-ibm-plex: "IBM Plex Sans", sans-serif;
  --background-sub: rgb(255, 255, 255);
  --background-main: #B7BDC6;
  --background-yellow: rgb(201, 148, 0);
  --background-danger: rgb(227, 59, 84);
  --background-success: rgb(46, 189, 133);
  --text-color: rgb(30, 35, 41);
  --text-danger: rgb(227, 59, 84);
  --text-success: rgb(46, 189, 133);
  --text-yellow: rgb(201, 148, 0);
}

body[data-theme="dark"]{
  --background-sub: rgb(24, 26, 32);
  --background-main: #0b0e11;
  --text-color: rgb(234, 236, 239);
}

body {
  margin: 0;
  font-family: var(--font-ibm-plex);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-main);
  overflow-x: hidden;
}

a,p,h1,h2,h3,h4,h5,h6,span,i{
  padding: 0;
  margin: 0;
  color: var(--text-color);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-thin {
  font-family: var(--font-ibm-plex);
  font-weight: 100;
  font-style: normal;
}

.font-extralight {
  font-family: var(--font-ibm-plex);
  font-weight: 200;
  font-style: normal;
}

.font-light {
  font-family: var(--font-ibm-plex);
  font-weight: 300;
  font-style: normal;
}

.font-regular {
  font-family: var(--font-ibm-plex);
  font-weight: 400;
  font-style: normal;
}

.font-medium {
  font-family: var(--font-ibm-plex);
  font-weight: 500;
  font-style: normal;
}

.font-semibold {
  font-family: var(--font-ibm-plex);
  font-weight: 600;
  font-style: normal;
}

.font-bold {
  font-family: var(--font-ibm-plex);
  font-weight: 700;
  font-style: normal;
}

.font-thin-italic {
  font-family: var(--font-ibm-plex);
  font-weight: 100;
  font-style: italic;
}

.font-extralight-italic {
  font-family: var(--font-ibm-plex);
  font-weight: 200;
  font-style: italic;
}

.font-light-italic {
  font-family: var(--font-ibm-plex);
  font-weight: 300;
  font-style: italic;
}

.font-regular-italic {
  font-family: var(--font-ibm-plex);
  font-weight: 400;
  font-style: italic;
}

.font-medium-italic {
  font-family: var(--font-ibm-plex);
  font-weight: 500;
  font-style: italic;
}

.font-semibold-italic {
  font-family: var(--font-ibm-plex);
  font-weight: 600;
  font-style: italic;
}

.font-bold-italic {
  font-family: var(--font-ibm-plex);
  font-weight: 700;
  font-style: italic;
}

.d-flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.justify-start{
  justify-content: start;
}

.justify-end{
  justify-content: end;
}

.align-center{
  align-items: center;
}

.align-start{
  align-items: start;
}

.align-end{
  align-items: end;
}

.container-fluid{
  padding: 10px;
  width: auto;
}

.container{
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
